---
title: RDA Elements
layout: ind
pageOrder: 1
folder: elements
empty: "There are no RDA Elements at the moment."
---
h3 Languages:
nav.linklist
  .row
    div.col-xs-2
      a(href="/Elements/en")!= "English"
